.quote {
  padding: 120px 0 60px 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}

@media screen and (max-width: 1100px) {
  .quote {
    padding-top: 60px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  .quote {
    column-gap: 20px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 599px) {
  .quote {
    padding: 40px 18px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "quote-pic"
      "quote-container";
  }
}