.quote__quote-author {
  max-width: 121px;
  margin: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
}

@media screen and (max-width: 599px) {
  .quote__quote-author {
    font-size: 14px;
    line-height: 1.57;
  }
}