.training__road {
  grid-area: pic;
  /* width: 580px;
    height: 460px; */

  background-image: url(../../../images/road.jpg);
  background-position: center;
  background-size: contain;

  background-repeat: no-repeat;
}