.training__road {
  grid-area: pic;
  max-width: 580px;
  height: auto;
  object-fit: contain;
  /* background-image: url(../../../images/road.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

@media screen and (max-width: 1100px) {
  .training__road {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 599px) {
  .training__road {
    max-width: 100%;
    object-fit: contain;
  }
}