.header {
  position: fixed;
  max-width: 1440px;
  right: 0;
  left: 0;
  min-height: 74px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #F4F4F4;
  z-index: 2;
}