.training {
  padding: 150px 120px 120px 120px;
  display: grid;
  justify-content: space-between;
  column-gap: 30px;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-rows: 60px 190px auto;
  grid-template-areas:
    "title pic"
    "text pic"
    "links pic";
}

@media screen and (max-width: 1100px) {
  .training {
    padding: 60px 0 60px 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px auto auto;
    column-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .training {
    column-gap: 5px;
  }
}

@media screen and (max-width: 599px) {
  .training {
    padding: 40px 18px 60px;
    grid-template-columns: 1fr;
    column-gap: 0;
    grid-template-rows: 120px 1fr 170px 20px;
    grid-template-areas:
      "title"
      "pic"
      "text"
      "links";
  }
}