.quote__pic {
  max-width: 650px;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1400px) {
  .quote__pic {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .quote__pic {
    /* min-height: 235px; */
  }
}

@media screen and (max-width: 599px) {
  .quote__pic {
    grid-area: quote-pic;
    border-top: 1px solid #E3E3E3;
    padding-top: 20px;
    margin-bottom: 40px;
    object-fit: contain;
  }
}