.general__container {
  max-width: calc(194px + 30px + 132px);
  margin: 0 auto 0 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .general__container {
    visibility: hidden;
    display: none;
  }
}