.general {
  padding: 80px 0 0 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1100px) {
  .general {
    padding-left: 60px;
  }
}


@media screen and (max-width: 599px) {
  .general {}
}