.button {
  width: 160px;
  max-height: 18px;
  padding: 16px 10px;
  margin: 0 auto 167px 0;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1px;
  text-align: center;
  background-color: #24B47E;
  border-radius: 4px;
  color: #FFFFFF;
  grid-area: general__button;
}

.button:hover {
  scale: 1.3;
  background-color: black;
  transition: 3s;
}

@media screen and (max-width: 1100px) {
  .button {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .button {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 599px) {
  .button {
    grid-area: general__button;
    margin: 0 auto;
    max-width: 100%;
    padding: 14px 62px 13px;
    max-height: 19px;
    font-size: 13px;
    line-height: 1.46;
  }

  .button:hover {
    scale: 1.05;
    background-color: black;
    transition: 3s;
  }
}